.translation_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.tableDom {
    border-collapse: collapse;
    white-space: nowrap;
}

.tableDom td,
.tableDom th {
    border: 1px solid #4e4848;
    padding: 5px;
}

td.selected {
    background-color: rgb(56, 66, 70);
}

.scrollable {
    width: 100%;
    overflow-x: auto;
}

#tableUpdateTag {
    background-color: #225d47;
    padding: 0px 4px;
    border-radius: 6px;
    display: none;
}

.tableToolbar {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.tableToolbar button {
    width: 90px;
}

#tableContainer {
    position: relative;
}