.translation_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.tableDom {
    border-collapse: collapse;
    white-space: nowrap;
}

.tableDom td,
.tableDom th {
    border: 1px solid #4e4848;
    padding: 5px;
}

td.selected {
    background-color: rgb(56, 66, 70);
}

.scrollable {
    width: 100%;
    overflow-x: auto;
}

#tableUpdateTag {
    background-color: #225d47;
    padding: 0px 4px;
    border-radius: 6px;
    display: none;
}

.tableToolbar {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.tableToolbar button {
    width: 90px;
}

#tableContainer {
    position: relative;
}

.dataTable_tableEditor_item {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    border: rgba(0, 0, 0, 0.548);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.dataTable_tableEditor_item .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.dataTable_tableEditor_item .menu_button{
    white-space: nowrap;
}

.dataTable_tablePrompt_list textarea{
    margin-bottom: 10px;
}

.dataTable_tablePrompt_list{
    text-align: start;
}
.tableName_pole{
    width: 100%;
}