.translation_settings .menu_button {
    width: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.tableDom {
    border-collapse: collapse;
    white-space: nowrap;
}

.tableDom td,
.tableDom th {
    border: 1px solid #4e4848;
    padding: 5px;
}

td.selected {
    background-color: rgb(56, 66, 70);
}

.scrollable {
    width: 100%;
    overflow-x: auto;
}

#tableUpdateTag {
    background-color: #225d47;
    padding: 0px 4px;
    border-radius: 6px;
    display: none;
}

.tableToolbar {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.tableToolbar button {
    width: 90px;
}

#tableContainer {
    position: relative;
}

.dataTable_tableEditor_item {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    border: rgba(0, 0, 0, 0.548);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.dataTable_tableEditor_item .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.dataTable_tableEditor_item .menu_button{
    white-space: nowrap;
}

.dataTable_tablePrompt_list textarea{
    margin-bottom: 10px;
}

.dataTable_tablePrompt_list{
    text-align: start;
}
.tableName_pole{
    width: 100%;
}





/* CSS 变量定义 */
:root {
    --history-group-border-color: #666;
    --function-name-color: #aaa;
    --params-table-td-color: #eee;
    --item-separator-color: #ddd;
    --insert-item-bg-color: rgba(0, 255, 25, 0.1); /* 深绿色 */
    --update-item-bg-color: rgba(25, 25, 255, 0.1); /* 深蓝色 */
    --delete-item-bg-color: rgba(255, 25, 0, 0.1); /* 深红色 */
    --error-item-bg-color: #f44336;
}

.dataBankAttachments {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.history-title-bar {
    /* 标题栏样式 */
    padding-bottom: 10px;
}

.history-title {
    margin-bottom: 0;
}

.history-scroll-content {
    overflow-y: auto;
    flex-grow: 1;
}


.history-group {
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 12px;
    /*border: 3px solid var(--history-group-border-color);*/
}

.collapsible-history-group {
    /* 可折叠的 history-group 特有样式 */
}

.history-item {
    padding: 5px 5px 10px 5px;
    border-radius: 8px;
}

.history-button-group {
    display: flex;
    flex-direction: row;
    top: 10px;
    right: 10px;
    gap: 5px;
}

.original-message-button, .collapse-button {
    padding: 5px 8px;
    border: none;
    border-radius: 50%;
    background: none;
    color: #aaa;
    font-size: 0.8em;
    cursor: pointer;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.original-message-button:hover, .collapse-button:hover {
    color: #ccc;
}

.original-message-button i, .collapse-button i {
    font-size: 1em;
}

.function-name {
    font-weight: bold;
    color: var(--function-name-color);
}

.params-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.params-table th,
.params-table td {
    padding: 0 8px;
    text-align: left;
    font-size: 0.9em;
}

.params-table th {
    font-weight: bold;
}

.params-table td {
    width: 100%;
    color: var(--params-table-td-color);
    text-align: left;
}

.item-separator {
    border: none;
    border-top: 2px dashed var(--item-separator-color);
}

/*.insert-item {*/
/*    color: #41b651;*/
/*}*/

/*.update-item {*/
/*    color: #3877ff;*/
/*}*/

/*.delete-item {*/
/*    color: #f44336;*/
/*}*/

.insert-item {
    background-color: var(--insert-item-bg-color);
}

.update-item {
    background-color: var(--update-item-bg-color);
}

.delete-item {
    background-color: var(--delete-item-bg-color);
}
