<div id="table_database_settings_drawer" class="drawer">
    <div class="drawer-toggle">
        <div id="table_drawer_icon" class="drawer-icon fa-solid fa-table fa-fw closedIcon interactable" title="事件表" tabindex="0"></div>
    </div>
    <div id="table_drawer_content" class="drawer-content closedIcon" data-slide-toggle="hidden" style="display: none;">
        <div>
            <div id="table_drawer_content_header" class="fa-solid fa-grip drag-grabber">

            </div>
            <!-- 切换界面 -->
            <div id="table_button_container" class="flex-container gap10px">
                <button id="database_button" class="menu_button_icon menu_button interactable">当前对话表</button>
                <button id="editor_button" class="menu_button_icon menu_button interactable">编辑器</button>
                <button id="setting_button" class="menu_button_icon menu_button interactable">表格设置</button>
            </div>

            <div class="flex-container alignitemscenter gap10px">
                <!--            <h3 class="margin0">-->
                <!--                <span>事件表</span>-->
                <!--            </h3>-->
            </div>
        </div>


        <div id="app_header_table_container">

        </div>

    </div>
</div>
