<!-- editor.html (This is a conceptual editor interface based on your request) -->
<div class="wide100p padding5 dataBankAttachments" id="table_editor_container">
<!--    <h2 class="marginBot5"><span>数据表编辑器</span></h2>-->
    <small>
        这是数据表格编辑器界面。您可以使用以下工具编辑和管理表格数据。
    </small>
    <div id="tableEditTips"></div>
    <hr />
    <div style=" display: flex; justify-content: space-between; flex-wrap: wrap; ">
        <div style=" display: flex; justify-content: flex-start; flex-wrap: wrap; width: fit-content; gap: 4px;">
<!--            <div style="display: flex; justify-content: center;" id="insert_row_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-plus" style="height: 30px; width: 30px" title="插入行">-->
<!--                    &lt;!&ndash; <a>插入行</a> &ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
<!--            <div style="display: flex; justify-content: center;" id="insert_column_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-columns" style="height: 30px; width: 30px" title="插入列">-->
<!--                    &lt;!&ndash; <a>插入列</a> &ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
<!--            <div style="display: flex; justify-content: center;" id="delete_row_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-minus" style="height: 30px; width: 30px" title="删除行">-->
<!--                    &lt;!&ndash; <a>删除行</a> &ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
<!--            <div style="display: flex; justify-content: center;" id="delete_column_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-table-columns" style="height: 30px; width: 30px; transform: rotate(90deg);" title="删除列">-->
<!--                    &lt;!&ndash; <a>删除列</a> &ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
            <div style="display: flex; justify-content: center;" id="sort_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-sort" style="height: 30px; width: 30px" title="排序表格">
                    <!-- <a>排序</a> -->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="filter_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-filter" style="height: 30px; width: 30px" title="筛选表格">
                    <!-- <a>筛选</a> -->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="undo_button">
                <i class="menu_button menu_button_icon fa-solid fa-rotate-left" style="height: 30px; width: 30px" title="撤销">
                    <!-- <a>撤销</a> -->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="redo_button">
                <i class="menu_button menu_button_icon fa-solid fa-rotate-right" style="height: 30px; width: 30px" title="重做">
                    <!-- <a>重做</a> -->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="copy_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-copy" style="height: 30px; width: 30px" title="复制表格">
                    <!--                <a style="min-width: 50px">复制</a>-->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="paste_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-paste" style="height: 30px; width: 30px" title="粘贴表格">
                    <!--                <a style="min-width: 50px">粘贴</a>-->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="clear_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-trash-can" style="height: 30px; width: 30px" title="清空表格">
                    <!--                <a style="min-width: 50px">清空</a>-->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="import_clear_up_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-import" style="height: 30px; width: 30px" title="导入表格">
                    <!--                <a style="min-width: 50px">导入</a>-->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="export_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-export" style="height: 30px; width: 30px" title="导出表格">
                    <!--                <a style="min-width: 50px">导出</a>-->
                </i>
            </div>
            <div style="display: flex; justify-content: center;" id="dataTable_history_button">
                <i class="menu_button menu_button_icon fa-solid fa-history" style="height: 30px; width: 30px" title="查看表格编辑历史记录">
                    <!--                <a style="min-width: 50px">历史</a>-->
                </i>
            </div>
        </div>
        <div></div>
        <div style=" display: flex; justify-content: flex-end; flex-wrap: wrap; width: fit-content; gap: 4px;">
<!--            <div style="display: flex; justify-content: center;" id="table_view_mode_save_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-check" style="height: 30px; width: 30px" title="返回表格视图">-->
<!--                    &lt;!&ndash;                <a style="min-width: 50px">返回</a>&ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
<!--            <div style="display: flex; justify-content: center;" id="table_view_mode_quit_button">-->
<!--                <i class="menu_button menu_button_icon fa-solid fa-xmark" style="height: 30px; width: 30px" title="返回表格视图">-->
<!--                    &lt;!&ndash;                <a style="min-width: 50px">返回</a>&ndash;&gt;-->
<!--                </i>-->
<!--            </div>-->
            <div style="display: flex; justify-content: center;" id="table_edit_full_screen_button">
                <i class="menu_button menu_button_icon fa-solid fa-up-right-and-down-left-from-center" style="height: 30px; width: 30px" title="全屏编辑">
                    <!--                <a style="min-width: 50px">返回</a>-->
                </i>
            </div>
        </div>
    </div>
    <hr />
    <div id="contentContainer" style="outline: 3px solid #41b681; border-radius: 3px; height: 100%">
        <div id="tableContainer" style="outline: 3px solid #41b681; border-radius: 3px">
        </div>
    </div>
</div>
