<div id="toast-container" class="toast-top-center">
    <div class="toast toast-info" aria-live="polite" style="">
        <div class="toast-progress" style="width: 72.87%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">测试信息</div>
        <div class="toast-progress" style="width: 72.89%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">测试信息</div>
    </div>
    <div class="toast toast-info" aria-live="polite" style="">
        <div class="toast-progress" style="width: 73%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">测试信息</div>
        <div class="toast-progress" style="width: 73.17%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">测试信息</div>
    </div>
    <div class="toast toast-info" aria-live="polite" style="">
        <div class="toast-progress" style="width: 73.36%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">测试信息</div>
    </div>
</div>
